body {
  background-image: url(/images/table.png?60912cbd593fd6f3c9e00d97bb17fd44);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
}

.admin-nav {
  background-color: #d90210;
  position: absolute;
  width: 100%;
}

.admin-nav p,
.admin-nav a {
  color: #fff;
}

.main {
  min-height: 100vh;
  padding-top: 100px;
}

.main .main-title {
  font-size: 5em;
  font-weight: bold;
  color: #d90210;
}

.main .main-jar {
  width: 250px;
}

.main .color-red {
  color: #d90210;
}

.main .color-black {
  color: #000;
}

.main .card {
  -webkit-box-shadow: 0px 5px 25px;
          box-shadow: 0px 5px 25px;
}

